body {
	font-family:calibri;
	background-color:black;
	font-size:1.1em;
}

#controller {
	background-color:white;
}

h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.3em;
}

td.hslpixel {
	width:100px;
	height:100px;
	background-color:hsl(0, 0%, 0%);
}

.main {
	position:relative;
	margin:0 auto;
}

.testSegment {
	padding:20px;
	padding-top:10px;
	border:1px solid gray;
	padding-bottom:80px;
	width:700px;
	position:relative;
	margin:0 auto;
	margin-top:30px;
}

.uploadSegment {
	padding:20px;
	padding-top:10px;
	border:1px solid gray;
	padding-bottom:80px;
	width:700px;
	position:relative;
	margin:0 auto;
	margin-top:30px;
}

.calibrationSegment {
	padding:20px;
	padding-top:10px;
	border:1px solid gray;
	padding-bottom:80px;
	width:700px;
	position:relative;
	margin:0 auto;
	margin-top:30px;
}

.buttons {
	position:absolute;
	bottom:10px;
	text-align:center;
	margin:0 auto;
	left:24%;
	padding:1px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	border-radius:15px;
	background:white;
	height:70px;
}

button#backButton {
	position: absolute;
	height: 80px;
	width: 80px;
	line-height: 20px;
	bottom: 20px;
	text-align: center;
	margin: 0 auto;
	left: 10%;
	padding-bottom:30px;
	font-weight:bold;
	font-family: cursive;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;
	border: 3px solid darkgray;
	background: white;
	font-size: 6em;
}
button#backButton:active {
	background: lightgray;
}

input#previous {
	margin-left:40px;
}
input#next, input#previous, input#up, input#down {
	height:60px;
	width:60px;
	position:relative;
	top:15px;
	margin-right:15px;
}
input#next:active, input#previous:active, input#up:active, input#down:active {
background:lightgray;
}

.buttons button {
	/*margin-right:10px;
	font-size:34px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;*/
}

.buttons #testData {
	height: 56px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	border: none;
	border: 3px solid lightgray;
	font-size: 1.5em;
	background: white;
	position:relative;
	bottom:5px;
}

.buttons #testData:active {
	background:lightgray;
}

.buttons #calibrate, #controls, #calibrateBlack, #calibrateWhite{
	height: 56px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	border: none;
	border: 3px solid lightgray;
	font-size: 1.5em;
	margin-right: 20px;
	background: white;
}

.buttons #calibrate:active, #controls:active, #calibrateBlack:active, #calibrateWhite:active{
	background: darkred;
	color:white;
}

.headerSegment {
	width:700px;
	position:relative;
	background-color:black;
	margin:0 auto;
	padding:20px;
	padding-bottom:50px;
}

.headerSegment h1 {
	color:white;
	font-size:2.0em;
}

.calibutton {
	margin-right:10px;
	font-size:16px;
	cursor:pointer;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:5px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}

.upload {
	/*width:150px;
	height:40px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;*/
}

.uploadSegment input.uploadbtn {
	/*display:block;
	width:150px;
	height:40px;
	overflow:hidden;
	opacity:0;*/
}

input#refresh {
	margin-left:80px;
	height:55px;
	width:55px;
	position:relative;
	top:15px;
}

.horizontal_axis {
	position:absolute;
	top:285px;
	left:120px;
	width:85%;
}
.vertical_axis {
	position:absolute;
	top:10px;
	left:0%;
	width:20px;
}
.vertical_axis label {
	color:white;
	font-size:1.5em;
	float:left;
	clear:both;
	margin-top:145px;
	position:relative;
}
.horizontal_axis label {
	color:white;
	font-size:1.5em;
	float:left;
	margin-right:100px;
	position:relative;
}
